@import './Vars.css';

.crud-button {
  width: fit-content;
  display: flex;
  align-items: center;
  column-gap: 4px;
  padding: 8px 28px;
  border: none;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: var(--semibold);
  font-family: 'Inter', sans-serif;
}
.crud-button:hover {
  cursor: pointer;
}
.crud-button--black {
  color: var(--white);
  background-color: var(--black);
}
.crud-button--red {
  color: var(--white);
  background-color: var(--red-100);
}

@media (max-width: 768px) {
  .crud-button {
    font-size: 1.2rem;
    text-align: start;
  }
}
