@import './Vars.css';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  padding: 32px 68px;
  border-top: 0.5px solid var(--gray-100);
}
.footer__figure--img {
  height: 40px;
}
.footer__info {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  text-align: center;
  font-size: 1.6rem;
  color: var(--black);
}

@media (max-width: 768px) {
  .footer {
    row-gap: 32px;
    padding: 20px;
  }
  .footer__figure--img {
    height: 32px;
  }
  .footer__info {
    font-size: 1.2rem;
  }
}
